<!DOCTYPE html>
<html ng-cloak ng-app="A11TemplateV1">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="bower_components/angular/angular-csp.css" rel="stylesheet" />
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/select2/select2.css" rel="stylesheet" />
    <link href="bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
</head>
<body>
    <form name="login" novalidate ng-controller="MainCtrl">
        {{data.x}}
        <input ng-model="data.x" />
        <div class="row">
            <div class="col-md-6">
                <!--<pre>{{login | jsonCherry:['$error']}}</pre>-->
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" value="" placeholder="Username" ng-model="username" class="form-control" name="username" validation="min_len:3|max_len:8|required" />
                </div>

                <div class="form-group">
                    <input type="password" value="" placeholder="Password" ng-model="password" class="form-control" name="password" validation="min_len:2|max_len:50|required" />
                </div>
                <div class="form-group">
                    <input type="submit" value="login" class="btn btn-lg" ng-click="submit()" ng-disabled="login.$invalid"/>
                </div>
            </div>
        </div>
    </form>
    <div ng-controller="SecondCtrl">
        {{data.x}}
        <input ng-model="data.x" />
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ramda/dist/ramda.js"></script>
    <script src="bower_components/postal.js/lib/postal.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ui-select/src/select3.js"></script>
    <script src="bower_components/angular-validation-ghiscoding/dist/angular-validation.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/ramda-fantasy/dist/ramda-fantasy.js"></script>
    <script src="app/js/app.js"></script>
</body>
</html>

